.academy__link {
  text-decoration: none;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  width: 240px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
  display: flex;
}
