.advantages {
  text-align: center;
  padding: 50px 0 60px 0;
  background: #ffffff;
}

.advantages__title {
  width: 119px;
}

.advantages__causes {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    margin-top: 150px;
  }

  .advantages__causes {
    width: 728px;
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper{
    margin-top: 100px;
  }

  .advantages__causes{
    width: 1360px;
    margin: 0 auto;
  }
}
