.basket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.basket__button {
  width: 102px;
  padding: 8px 19px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.basket__cost {
  width: 51px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.basket__button:hover,
.basket__button:focus {
  background: #9070EC;
}

.basket__button:active {
  background: #593CAC;
}

.basket__button:disabled {
  background: #BDBDBD;
}
