.catalog {
  background-color: #F8F8F8;
  padding-top: 50px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;

}

.catalog__title {
  margin: 0 auto;
  width: 65px;
}

.catalog__drink {
  width: 280px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__drink {
    width: 728px;
    font-size: 42px;
    line-height: 64px;
  }

  .catalog__form {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    grid-template-rows: 227px;
    list-style-type: none;
    margin: 0;
    grid-column-gap: 30px;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .catalog__drink{
    width: 1360px;
    margin: 0 auto;
  }

  .catalog__form{
    width: 318px;
    display: flex;
    flex-direction: column;
  }
}

