.causes__item {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: 146px;
  margin-top: 31px;
}

.causes__item--comfort {
  margin-top: 28px;
}

.causes__item--energy {
  margin-top: 28px;
}

.causes__item--ecology{
  margin-top: 28px;
}


.causes__title {
  width: 280px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  margin: 0;
  margin-bottom: 4px;
}

.causes__description {
  margin: 0;
  width: 280px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.causes__item--speed::before {
  position: absolute;
  top: 4px;
  right: 116px;
  background-image: url("../../img/clock.svg");
  background-repeat: no-repeat;
  content: "";
  width: 50px;
  height: 56px;
  align-self: center;
}

.causes__item--comfort::before {
  position: absolute;
  top: 4px;
  right: 114px;
  background-image: url("../../img/pocket.svg");
  background-repeat: no-repeat;
  content: "";
  width: 52px;
  height: 56px;
  align-self: center;
}

.causes__item--energy::before {
  position: absolute;
  top: 4px;
  right: 114px;
  background-image: url("../../img/flash.svg");
  background-repeat: no-repeat;
  content: "";
  width: 52px;
  height: 56px;
  align-self: center;
}

.causes__item--ecology::before {
  position: absolute;
  top: 4px;
  right: 114px;
  background-image: url("../../img/tree.svg");
  background-repeat: no-repeat;
  content: "";
  width: 52px;
  height: 56px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .causes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
  }

  .causes__item {
    padding-left: 72px;
    min-height: 118px;
    gap: 10px;
  }

  .causes__title {
    text-align: left;
  }

  .causes__description {
    text-align: left;
    width: 225px;
  }

  .causes__item--speed::before {
    top: 36px;
    left: 10px;
  }

  .causes__item--comfort::before {
    top: 33px;
    right: 293px;
  }

  .causes__item--energy::before {
    top: 14px;
    right: 292px;
  }

  .causes__item--ecology::before {
    top: 14px;
    right: 292px;
  }
}

@media (min-width: $desktop-width) {
  .causes {
    width: 1360px;
    grid-template-columns: 318px 317px 318px 317px;
    grid-column-gap: 30px;
    padding: 0;
  }

  .causes__item {
    width: 317px;
    padding: 0;
    padding-top: 72px;
  }

  .causes__title {
    text-align: center;
  }

  .causes__description {
    text-align: center;
    width: 275px;
  }

  .causes__item--speed::before {
    left: 115px;
  }

  .causes__item--comfort::before {
    left: 115px;
  }

  .causes__item--energy::before {
    left: 115px;
    top: 32px;
  }

  .causes__item--ecology::before {
    left: 115px;
    top: 32px;
  }
}
