.check__field {
  display: none;
}
.check__wrapper--disabled{
  opacity: 0.3;
}

.check__wrapper {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.check__description {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BDBDBD;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  border: 2px solid #f8f8f8;
}



.check__description:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.check__field:checked+.check__description {
  background-color: #7859CF;
  border: 2px solid #7859CF;
}

.check__field--disabled:checked+.check__description{
  background: #E2E2E2;
  border-color: #e2e2e2;
  opacity: 1;
}

.check__field:focus+.check__description {
  box-shadow: 0 0 1px #7859CF;
}

.check__description:hover{
  background: rgba(120, 89, 207, 0.25);
/* Alt/Primary-Lighter */

border: 2px solid #9070EC;
}

.check__field:checked+.check__description:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.check__country {
  padding-left: 59px;
  width: 95px;
  display: flex;
}
