.container {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 728px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1360px;
  }
}
