.country {
  border: none;
  padding: 0;
  margin: 0;
  margin: 20px 3px 0;
}

.country__title {
  width: 202px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 0;
}

.country__list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.country__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .country {
    margin: 20px 0px 0;
  }
}
