.descriptions__link {
  text-decoration: none;
}

.descriptions__title {
  width: 238px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 5px;
}

.descriptions__text {
  width: 240px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
