.descriptions__link {
  text-decoration: none;
}

.descriptions__title {
  width: 238px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 5px;
}

.descriptions__text {
  width: 240px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .descriptions__title {
    width: 289px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .descriptions__text{
    width: 289px;
  }
}
