.header-image {
  min-height: 656px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  position: relative;
  background: #F3EBE1;
}

.header-image__name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
  width: 280px;
  margin: 0 auto;

}

.header-image__container {
  padding: 0;
}

.header-image__wrapper {
  text-align: center;
}

.header-image__description {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  color: #333333;
}

.header-image__arrow {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  color: #7859CF;
}

.header-image__arrow:hover,
.header-image__arrow:focus {
  background: #9070EC;
  border-radius: 4px;
  color: #ffffff;
}

.header-image__arrow:active{
  background: #593CAC;
  color: #ffffff;
}

.header-image__arrow--right {
  right: 0;
}

@media (min-width: $tablet-width) {
  .header-image__container {
    padding-top: 60px;
  }

  .header-image__name {
    width: 608px;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
  }

  .header-image__description {
    width: 555px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: $desktop-width) {
  .header-image {
    min-height: 714px;
  }

  .header-image__wrapper {
    position: relative;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 155px;
  }

  .header-image__name {
    width: 625px;
    font-size: 56px;
    line-height: 80px;
    text-align: left;
    margin: 0;
  }

  .header-image__description {
    margin: 0;
    margin-top: 16px;
    text-align: left;
    width: 555px;
  }
}
