@media (min-width: $tablet-width) {
  .information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    margin-top: 10px;
  }
}
