.input__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background: #fff;
  border: 2px solid #9070ec;
  border-radius: 4px;
  width: 95px;
  text-align: center;
}

.input__field::placeholder{
  color: #bdbdbd;
}

.input__field:focus{
  border-color: #593CAC;
}

.input__field:disabled{
  border-color: #bdbdbd;
  color: #bdbdbd;
}
@media (min-width: $tablet-width) {
  .input__field{
    width: 55px;
  }
}


@media (min-width: $desktop-width) {
  .input__field{
    width: 114px;
  }

  .input{
    width: 318px;
  }
}
