.input__field{
  .range__input{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  background: #FFFFFF;
  border: 2px solid #9070EC;
  border-radius: 4px;
  }
}
