.input__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  background: #FFFFFF;
  border: 2px solid #9070EC;
  border-radius: 4px;
  width: 98px;
  text-align: center;
}
