.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  width: 280px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
}


@media (min-width: $tablet-width) {
  .main-nav {
    position: absolute;
    top: 8px;
    left: 165px;
  }

  .main-nav__list {
    width: 400px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav{
    left: 520px;
  }
}
