.main-picture__pic {
  margin-top: 20px;
  position: relative;
}

@media (min-width: $tablet-width) {

  .main-picture__pic {
    width: 476px;
    height: 476px;
    position: absolute;
    bottom: -170px;
    left: 146px;
    margin: 0;
  }

}

@media (min-width: $desktop-width) {
  .main-picture__pic {
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 80px;
    left: 135px;
  }
}
