.main-footer{
  background: #ffffff;
}

.main-footer__social{
  display: flex;
  justify-content: space-between;
  width: 280px;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid #F0EBFF;
}
