.main-header {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.main-header__text {
  display: none;
}

.main-header__test {
  width: 128px;
  justify-content: space-between;
  display: flex;
}

.main-header__logo-image {
  margin-right: 65px;
}


.main-header__wrapper {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 6px;
  width: 280px;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  width: 280px;
}

.main-header__toggle {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  position: relative;
}


.main-header--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 6px 0 0#000, 0 12px 0 0#000;
}

.main-header--opened .main-header__toggle::before,
.main-header--opened .main-header__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 30px;
  height: 2px;
  background-color: #000000;
}

.main-header--opened .main-header__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-header--opened .main-header__toggle::after {
  transform: rotate(-45deg);
}


.main-header--opened .site-list {
  display: block;
}

.main-header--closed .site-list {
  display: none;
}


.main-header--nojs .main-header__toggle {
  display: none;
}

.main-header--nojs .main-nav__list {
  position: static;
  display: block;
}

.main-header__menu {
  display: none;
}

.main-header__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header--closed .site-list {
    display: flex;
    justify-content: space-between;
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .main-header__toggle::before {
    display: none;
  }

  .main-header__container {
    min-height: 80px;
    display: flex;
    width: 733px;
    justify-content: space-between;
  }

  .main-header__logo-image {
    width: 82px;
    height: 36px;
  }

  .main-header__toggle {
    margin-left: -35px
  }

  .main-header__test {
    width: 90px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__text {
    display: flex;
    width: 173px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    margin-left: 20px;

  }

  .main-header__logo {
    width: 316px;
    display: flex;
    text-decoration: none;
  }

  .main-header__container {
    width: 1360px;
  }

  .main-header__logo-image {
    width: 170px;
    height: 36px;
  }

  .main-header__menu {
    display: flex;
    width: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;

  }

  .main-header__login {
    width: 112px;
    text-decoration: none;

    display: flex;
    gap: 8px;
  }

  .main-header__test {
    width: 290px;
  }

  .main-header__basket{
    width: 90px;
    display: flex;
    gap: 8px;
    margin-left: 20px;
    text-decoration: none;
  }
}
