.main-nav__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  top: 53px;

}


@media (min-width: $tablet-width) {
  .main-nav{
    margin-left: 22px;
    margin-bottom: 5px;
}


  .main-nav__list {
    width: 355px;
    position: static;
  }
}

@media (min-width: $desktop-width) {}
