.media {
  padding: 20px 0;
  border: 0;
  border-bottom: 1px solid #F0EBFF;
}

.media__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.media__title {
  width: 146px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: none;
}

.media__item {
  margin-top: 12px;
  width: 179px;
}

.media__link {
  text-decoration: none;
  width: 179px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
}
