.pagination__list {
  display: flex;
  list-style: none;
  width: 280px;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  background: none;
  margin-bottom: 44px;
}

.pagination__item {
  width: 40px;
  height: 40px;
}

.pagination__link {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  color: #7859CF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.pagination__link--checked {
  font-weight: 600;
  text-align: center;
  color: #333333;
  background: none;
}
