.pagination__list {
  display: flex;
  list-style: none;
  width: 280px;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
  background: none;
  margin-top: 41px;
}

.pagination__item {
  width: 40px;
  min-height: 40px;
}

.pagination__link {
  width: 40px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 4px;
  color: #7859CF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.pagination__link--checked {
  font-weight: 600;
  text-align: center;
  color: #333333;
  background: none;
}

.pagination__next {
  display: none;
}

.pagination__back {
  display: none;
}

.pagination__link:hover,
.pagination__link:focus {
  background: #9070EC;
  border-radius: 4px;
  color: #ffffff;
}

.pagination__link:active{
  background: #593CAC;
border-radius: 4px;
color: #ffffff;
}

.pagination__link:disabled{
  background: #E2E2E2;
}

@media (min-width: $tablet-width) {
  .pagination {
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .pagination__icon {
    display: none;
  }

  .pagination__next {
    width: 91px;
    display: flex;
    justify-content: center;
  }

  .pagination__link--next {
    width: 91px;
  }

  .pagination__item--back {
    width: 91px;
  }

  .pagination__item--next {
    width: 91px;
  }

  .pagination__back {
    width: 91px;
    display: flex;
    justify-content: center;
  }

  .pagination__link--back {
    width: 91px;
  }

  .pagination__list {
    width: 395px;
    margin: 20px 0 90px;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    width: 1011px;
  }
}
