.range {
  position: relative;
  height: 4px;
  background-color: #E2E2E2;
  width: 280px;
  margin-top: 20px;
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #9070EC;
  width: 228px;
}

.range__toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid #9070EC;
  background: #FFFFFF;
  border-radius: 50%;
}


.range__toggle--min {
  position: absolute;
  top: -10px;
  left: 0;
}

.range__toggle--max {
  position: absolute;
  top: -10px;
  left: 207px;
}

@media (min-width: $tablet-width) {
  .range__bar {
    width: 192px;
  }

  .range {
    width: 223px;
  }

  .range__toggle--max {
    left: 175px;
  }
}

@media (min-width: $desktop-width) {
  .range__bar {
    width: 274px;
  }

  .range {
    width: 318px;
  }

  .range__toggle--max {
    left: 250px;
  }

}
