.sorting {
  background: #f8f8f8;
}

.sorting__wrapper {
  margin: 34px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting__title {
  width: 107px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.sorting__field {
  border: none;
  background: none;
  width: 165px;
  padding: 4px 10px;
  color: #7859CF;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-align: right;
}

.sorting__value:hover,
.sorting__value:focus {
  background: #F0EBFF;
  border-radius: 0px 0px 4px 4px;
}


@media (min-width: $tablet-width) {
  .sorting__wrapper {
    margin-top: 44px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .sorting {
    margin-top: 30px;
  }

  .sorting__wrapper {
    margin: 0;
    justify-content: flex-end;
  }
}
