.submit{
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.submit__button{
  width: 280px;
  padding: 8px;
  border: none;
}

.submit__button--reset{
  background: #ffffff;
  color: #7859cf;
}

@media (min-width: $tablet-width) {
  .submit__button{
    width: 140px;
  }

  .submit{
    margin: 87px 206px 0;
    flex-direction: row;
  }
}
