.submit{
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.submit__button{
  width: 280px;
  padding: 8px;
  border: none;
}

.submit__button--reset{
  background: #ffffff;
  color: #7859cf;
}
