.value {
  border: none;
  margin-top: 20px;
  padding: 0;
}

.value__title {
  width: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  opacity: 0.1;
}

.value__form{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .value{
    margin-top: 30px;
  }
}
